.App {
  min-height: 100vh;
  background: #fbecff;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c157ff;
}

.search-bar {
  width: 300px;
  height: 30px;
  font-size: 24px;
  border: none;
  border-radius: 50px;
  padding: 10px 10px 10px 20px;
}

.search-button {
  background: #f76692;
  border: none;
  border-radius: 50px;
  margin-left: 20px;
  padding: 10px 20px;
  height: inherit;
  font-size: 24px;
  color: #ffffff;
}

.search-button:hover {
  background: #f8ac49;
  cursor: pointer;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

